<% layout('/layouts/boilerplate') %>
<body>
    <h3>All listings</h3>
    <form action="/listings/new" method="get">
        <button type="submit">Create New Listing</button>
    </form>
    <ul>
        <%for(let listing of allListing){ %>
        
            <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
            </form>
        <%} %>
    </ul>
   
</body>