<% layout('/layouts/boilerplate') %>
<body>
    <h3>Here you can create a new listing</h3>
    <form action="/listings" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="listing[title]" placeholder="Enter title" required >
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="listing[description]" placeholder="Enter description" required></textarea>
        </div>
        <div>
            <label for="image">Image:</label>
            <input type="text" id="image" name="listing[image]" placeholder="Enter image URL">
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="number" id="price" name="listing[price]" step="0.01" placeholder="Enter price" required>
        </div>
        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="listing[location]" placeholder="Enter location" required>
        </div>
        <div>
            <label for="country">Country:</label>
            <input type="text" id="country" name="listing[country]" placeholder="Enter country" required>
        </div>
        <button type="submit">Create Listing</button>
    </form>
</body>