.filters-container {
    display: flex;
    align-items: center;
    height: 5rem;
    gap: 1rem;
    white-space: nowrap;
    overflow-x: auto;
    cursor: pointer;
}

.filters-container::-webkit-scrollbar {
    display: none;
}

.filters {
    width: 4rem;
    text-align: center;
    opacity: 0.7;
}

.filters:hover {
    opacity: 1;
    border-bottom: 2px solid #ddd;
}

.filters p{
    font-size: .7rem;
    margin: 0;
}

.active-filter {
    opacity: 1;
    border-bottom: 1.5px solid black !important;
    font-weight: bold;
    transform: scale(1.1);
}

.search-bar{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 999px;
    padding: 0.4rem 0.5rem 0.4rem 1rem;
    background-color: white;
    max-width: 350px;
    width: 100%;
}

.search-bar input{
    border: none;
    outline: none;
    flex: 1;
    font-size: 0.95rem;
}

.search-bar button{
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ff385c;
    color: white;
    cursor: pointer;
}

.search-bar button:hover{
    opacity: 0.9;
}